<h3>{{ headerS() }}</h3>

@if (nonEmptyContent(dataS()); as value) {
  data:
  <pre>{{ value | json }}</pre>
}
@if (nonEmptyContent(fragmentS()); as value) {
  <p>fragment: {{ value }}</p>
}
@if (nonEmptyContent(queryParamsS()); as value) {
  Query Parameters:
  <pre>{{ value | json }}</pre>
}
@if (nonEmptyContent(paramsS()); as value) {
  <pre>{{ value | json }}</pre>
}
@if (nonEmptyContent(urlS()); as value) {
  <p>URL: {{ value }}</p>
}

<div class="frame">
  <div class="content"><router-outlet /></div>
  <div class="left"><router-outlet name="left" /></div>
  <div class="right"><router-outlet name="right" /></div>
  <div class="top"><router-outlet name="top" /></div>
  <div class="bottom"><router-outlet name="bottom" /></div>
</div>
