.frame {
    margin: 8px;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 8px;
    grid-template-areas:
        "left top right"
        "left content right"
        "left bottom right";
    & > .top { grid-area: top; }
    & > .bottom { grid-area: bottom; }
    & > .left { grid-area: left; }
    & > .right { grid-area: right; }
    & > .content { grid-area: content; }
    & > * {
        border: thin dashed grey;
        padding: 8px;
    }
}
