<h1>Routing Test</h1>

<input type="checkbox" #asObject id="asObject" /><label
  for="asObject"
  style="user-select: none"
  >JavaScript Value</label
>

<div
  style="
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    column-gap: 8px;
  ">
  <textarea rows="3" placeholder="Route" #xroute>/</textarea>
  <button (click)="go(xroute.value, asObject.checked)">Go</button>
</div>
<button (click)="showRoutes()" [style.margin-top.px]="16">
  Log route config
</button>

<nav>
  <ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li>
      <a [routerLink]="['/', { outlets: { primary: [], two: 'T' } }]"
        >Simple link</a
      >
    </li>
    <li>
      <a
        [routerLink]="[
          '/',
          { outlets: { primary: ['never', { name: 'Never' }], two: ['T'] } }
        ]"
        queryParamsHandling="merge"
        >Short link</a
      >
    </li>
    <li>
      <a
        [routerLink]="[
          '/',
          {
            outlets: {
              primary: [
                'main',
                { name: 'Main' },
                {
                  outlets: {
                    primary: [
                      'level1',
                      { name: 'MainLevel1' },
                      {
                        outlets: {
                          primary: ['level2', { name: 'MainLevel2' }],
                          left: ['Left', { name: 'LeftLevel2' }]
                        }
                      }
                    ],
                    left: [
                      'left1',
                      { name: 'LeftLevel1' },
                      {
                        outlets: {
                          primary: ['Left1M', { name: 'Left1Main' }],
                          bottom: ['Left1B', { name: 'Left1Bottom' }]
                        }
                      }
                    ],
                    top: ['tt', { name: 'OvertheTop' }],
                    bottom: ['bottom', { name: 'BottomLevel1' }]
                  }
                }
              ],
              two: ['t2', { name: 'TwoOther' }]
            }
          }
        ]"
        [queryParams]="{ a: 1, b: 2 }"
        >Long link</a
      >
    </li>
    <li>
      <a [routerLink]="['/', { outlets: { primary: [] } }]"
        >Reset Top Primary outlet</a
      >
    </li>
    <li>
      <a [routerLink]="['/', { outlets: { two: [] } }]"
        >Reset top secondary outlet</a
      >
    </li>
    <li><a [routerLink]="['never']">never</a></li>
  </ul>
</nav>

<div
  style="margin-block-start: 16px; background-color: lightblue; padding: 8px">
  <h3>Secondary outlet</h3>
  <router-outlet name="two" />
</div>
<hr />

<div>
  <h2>Primary outlet</h2>
  <router-outlet />
</div>
