<div
  style="
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    column-gap: 8px;
  ">
  <a [routerLink]="['/', { outlets: { primary: [], sidebar: [] } }]">Home</a>
  <a routerLink="/">Home</a>
  <a [routerLink]="['/', 'view', 'joke']">View Joke</a>
  <a [routerLink]="['/', 'view', 'joke', 'analysis']">Analysis</a>

  <a
    [routerLink]="[
      '/',
      {
        outlets: {
          primary: ['view', 'joke'],
          popup: ['chat'],
          sidebar: [
            'menu',
            'super-user',
            { outlets: { primary: ['warning'], footer: ['footer'] } }
          ]
        }
      }
    ]"
    >Complex</a
  >
</div>
<multi-frame />
